/* Variables */
:root {
  --logo-font: 'Raleway', 'Geneva', 'Arial', sans-serif;
  --main-font: 'Roboto';
  --main-bgr-color: #fff;
  --hover-elem-color: #2196f3;
  --light-text-color: #fff;
  --dark-text-color: #000;
  --header-bgr-color: #fff;
  --footer-bgr-color: #2f303a;
  --content-text-color: #757575;
  --title-text-color: #212121;
  --hero-bgr-color: #2f303a;
  --main-btn-accent-color: #188ce8;
  --team-brg-color: #f5f4fa;
  --portfolio-btn-brg-color: #f5f4fa;
  --btn-shadow-color: rgba(0, 0, 0, 0.15);
  --btn-shadow-color-param-1: rgba(0, 0, 0, 0.1);
  --btn-shadow-color-param-2: rgba(0, 0, 0, 0.08);
  --btn-shadow-color-param-3: rgba(0, 0, 0, 0.12);
  --address-info-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--main-font);
  color: var(--content-text-color);
  background-color: var(--main-bgr-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Header */
.page-header {
  background-color: var(--header-bgr-color);
}

/* Logo */
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--hover-elem-color);
}

.logo-dark-part {
  color: var(--dark-text-color);
}

.logo-light-part {
  color: var(--light-text-color);
}

/* Navigation & Contact Information*/
.main-nav-list-item,
.contacts-list-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav-list-item > a {
  color: var(--title-text-color);
}

.contacts-list-item > a {
  color: var(--content-text-color);
}

/* Hero */
.hero {
  background: var(--hero-bgr-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-order-serv {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background: var(--hover-elem-color);
  box-shadow: 0px 4px 4px var(--btn-shadow-color);
  border-radius: 4px;
}

.hero-title,
.btn-order-serv {
  color: var(--light-text-color);
}

.btn-order-serv:hover,
.btn-order-serv:focus {
  background: var(--main-btn-accent-color);
}

/* Features */
.feature-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-descr {
  line-height: 1.71;
}

/* Directions & Team*/
.directions-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background: var(--team-brg-color);
}

.team-item-title,
.team-item-descr {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-title {
  font-weight: 500;
}

/* Portfolio */
.portfolio-tab > button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  background: var(--portfolio-btn-brg-color);
  box-shadow: 0px 3px 1px var(--btn-shadow-color-param-1),
    0px 1px 2px var(--btn-shadow-color-param-2), 0px 2px 2px var(--btn-shadow-color-param-3);
  border-radius: 4px;
  color: var(--title-text-color);
  cursor: pointer;
}

.portfolio-tab > button:hover,
.portfolio-tab > button:focus {
  background: var(--hover-elem-color);
  color: var(--light-text-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-descr {
  font-size: 16px;
  line-height: 1.88;
}

/* Footer */
.page-footer {
  background: var(--footer-bgr-color);
}

.address-info {
  font-style: inherit;
}

.address-info-list-item-point,
.address-info-list-item {
  line-height: 1.71;
}

.address-info-list-item-point > a {
  color: var(--light-text-color);
}

.address-info-list-item > a {
  color: var(--address-info-color);
}

/* General */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.color-accent > a:hover,
.color-accent > a:focus {
  color: var(--hover-elem-color);
}

h2,
h3 {
  color: var(--title-text-color);
}
